@font-face {
   font-family: 'Vidaloka-Regular';
   font-display: swap;
   src: url('Vidaloka-Regular/font.ttf');
}
@font-face {
   font-family: 'Roboto-Regular';
   font-display: swap;
   src: url('Roboto-Regular/font.ttf');
}
@font-face {
   font-family: 'Roboto-Bold';
   font-display: swap;
   src: url('Roboto-Bold/Roboto-Bold.ttf');
}
@font-face {
   font-family: 'Roboto-Light';
   font-display: swap;
   src: url('Roboto-Light/Roboto-Light.ttf');
}
@font-face {
   font-family: 'Roboto-Medium';
   font-display: swap;
   src: url('Roboto-Medium/Roboto-Medium.ttf');
}
@font-face {
   font-family: 'Helvetica';
   font-display: swap;
   src: url('Helvetica/HelveticaNeue.ttf');
}
